<% longitude = @longitude %>
<% latitude = @latitude %>
<% @bikelocations.each do |location| %>
    <p><%= location["extra"] %></p>
<%end  %>
<div style='width: 500px;'>
    <div id="map" style='width: 400px; height: 300px;'></div>
</div>
<script type="text/javascript">
    handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
                {
                    "lat": <%=latitude%>,
                    "lng": <%=longitude%>,
                    "picture": {
                        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
                        "width":  36,
                        "height": 36
                    },
                }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(15);
        });
</script>
