<!-- <% @bikelocations.each do |location| %>
    <% @locations = BikeStation.find_by_station_id(location["extra"]["uid"]) %>
    <p> <%= @locations.address %></p>
<% end %> -->
<div style='width: 500px;'>
    <div id="map" style='width: 600px; height: 500px;'></div>
</div>
<script type="text/javascript">
    handler = Gmaps.build('Google');
        handler.buildMap({
            provider: {},
            internal: {id: 'map'}
        },
        function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>)
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(15);
        }
        );
</script>
