#map{
    width: 70vw;
    height: 85vh;
    position: fixed;
    z-index: 0;
    margin: 0 auto;
}
.navbar{
    background-color: #7da3be;
    margin: 0;
    border: 0;
}

footer{
    background-color: #7da3be;
    text-align: center;
}
