.small_screen_flush {
  @media (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;

    .panel {
      border-radius: 0;
      border: none;
      .panel-heading {
        border-radius: 0;
      }
    }
  }
}

nav.navbar{

  border:none;
  @include box-shadow( 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28) );
  transition: background-color .2s, height .5s, box-shadow .5s;
  background-color: #7da3be;
  margin: 0;
  border: 0;

  .navbar-brand{

    font-family: $font-family-indie-flower;
    font-size: 42px;
    color: #895617;
    text-transform: uppercase;
    letter-spacing: 2px;

  }

  li > a {

    color: #895617;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.profile {
  border: 0;
  &.large_panel {
    @extend .col-sm-9;
    @extend .small_screen_flush;
  }
  &.sidebar {
    @extend .col-sm-3;
    @extend .small_screen_flush;
  }

  &.center {
    @extend .col-lg-6;
    @extend .col-lg-offset-3;

    @extend .col-md-6;
    @extend .col-md-offset-3;

    @extend .col-sm-8;
    @extend .col-sm-offset-2;

    @extend .small_screen_flush;

    .panel-footer {
      @include clearfix;
      .buttons {
        float: right;
      }

      .links {
        float: left;
      }
    }
  }
}
