html,
body {
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

.container-fluid{
    height: auto;
}

#header{
    height: 51px;
    font-size: 20px;
    letter-spacing: .2em;
    font-family: 'Slabo 27px', serif;
}
.navbar{
    font-family: 'Slabo 27px', serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    width: 100%
}
.navbar-nav{
    float: right;
}
.navbar-fixed-top{
    border-width: 0;
}

.left-align-text{
    text-align: left;
}

.center{
    text-align: center;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

hr{
    border: rgba(0,0,0,.5) 1px solid;
}

#contentBody{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

footer {
    padding-bottom: 25px;
    text-align: center;
    font-size: 14px;
}
