<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6 text-right">
        <small class="copyright">
        </small>
      </div>
    </div>
  </div>
</footer>
