<footer id="footer">
    All information is from the <a href="https://api.citybik.es/v2/">CityBike Api</a>
    <br>
    <small class="copyright">
    Copyright 2016 by Anthony Duque
    </small>
</footer>
